* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Added to fill the viewport */
html, body {
    width: 100%;
    height: 100%;
}

canvas {
    width: 1000px;
    height: 750px;
}